name: Deploy Arch Wiki Mirror
on:
  schedule:
    - cron: '27 3 4 * *'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: sudo apt-get install -y zstd

      - name: Get Wiki Package Details
        id: pkg_info
        run: |
          FILE_NAME=$(curl -s "https://archlinux.org/packages/extra/any/arch-wiki-docs/json/" | jq -r .filename)
          echo "url=https://mirror.rackspace.com/archlinux/extra/os/x86_64/$FILE_NAME" >> $GITHUB_OUTPUT

      - name: Download Wiki Archive
        run: curl -L "${{ steps.pkg_info.outputs.url }}" -o wiki.tar.zst

      - name: Create Upload Root
        run: |
          mkdir -p build
          mkdir -p public
          tar -I zstd -xf wiki.tar.zst -C build
          cp -rn build/usr/share/doc/arch-wiki/html/* public/

      - name: Merge Repository Additions
        run: |
          if [ -d "src" ]; then
            cp -rv src/* public/
          fi

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
