name: Deploy Arch Wiki Mirror
on:
  schedule:
    - cron: "27 3 4 * *"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: sudo apt-get install -y zstd

      - name: Get Wiki Package Details
        id: pkg_info
        run: |
          echo "Fetching package info..."
          JSON_RESPONSE=$(curl -s -A "ArchWikiMirror/1.0 (GitHub Actions; +https://github.com/${{ github.repository }})" "https://archlinux.org/packages/extra/any/arch-wiki-docs/json/")
          
          echo "JSON Response:"
          echo "$JSON_RESPONSE"
          
          FILE_NAME=$(echo "$JSON_RESPONSE" | jq -r .filename)
          echo "Parsed Filename: $FILE_NAME"
          
          FILE_URL="https://mirror.rackspace.com/archlinux/extra/os/x86_64/$FILE_NAME"
          echo "Constructed URL: $FILE_URL"
          
          echo "url=$FILE_URL" >> $GITHUB_OUTPUT

      - name: Download Wiki Archive
        run: |
          echo "Downloading from: ${{ steps.pkg_info.outputs.url }}"
          curl -L -A "ArchWikiMirror/1.0 (GitHub Actions; +https://github.com/${{ github.repository }})" "${{ steps.pkg_info.outputs.url }}" -o wiki.tar.zst

      - name: Create Upload Root
        run: |
          mkdir -p build
          mkdir -p public
          tar -I zstd -xf wiki.tar.zst -C build
          cp -rn build/usr/share/doc/arch-wiki/html/* public/

      - name: Merge Repository Additions
        run: |
          if [ -d "src" ]; then
            echo "Source directory 'src' found. Merging additions..."
            cp -rv src/* public/
          else
            echo "Source directory 'src' not found. Skipping merge."
          fi

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
